<!-- transfer.html -->
{% extends 'base.html' %}
{% block title %}Transfer Money{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title mb-0">Transfer Money</h1>
        </div>
        <div class="card-body">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %} alert-dismissible fade show">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="sender_account_id">Sender Account ID:</label>
                    <input type="text" name="sender_account_id" id="sender_account_id" class="form-control" placeholder="Enter Sender ID" required>
                </div>
                <div class="form-group">
                    <label for="receiver_account_id">Receiver Account ID:</label>
                    <input type="text" name="receiver_account_id" id="receiver_account_id" class="form-control" placeholder="Enter Receiver ID" required>
                </div>
                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" name="amount" id="amount" class="form-control" placeholder="Enter the Amount to Send "required>
                </div>
                <button type="submit" class="btn btn-primary">Transfer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
